* {
    font-family: "Outfit";
    font-weight: bold;
}

.header-color {
    background-color: #011C26;
}

img {
    height: 60px;
    width: 60px;
}

.header-specs {
    margin-right: 100px;
    margin-left: 100px;
}

.logo {
    flex: 1;
}

.search-flex {
    flex: 1;
    margin: auto;
}

.span-logo {
    color: #fff;
    font-size: 28px;
}

.header-search {
    display: flex;
    align-items: center;
    flex: 1;
    background-color: #fff;
    border: solid 1px;
    border-radius: 5px;
    width: 400px;
    position: relative;
}

textarea, input { outline: none; }

.input-search {
    background-color: transparent;
    padding-left: 5px;
    font-weight: bold;
    border: none;
    height: 32px;
    width: calc(100% - 30px); /* Ajustar a largura para evitar sobreposição com o ícone de busca */
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #fff;
}

.login {
    margin: auto;
    color: #fff;
}

.dropdown-custom {}

.dropdown-item-custom {
    color: #000000 !important; /* Escolha a cor que você deseja */
}

.menu-custom {
    background-color: #a0c9d9 !important;
}

/* estilos da sugestão */
.autosuggest-container {
    position: relative;
    width: 100%;
}

.autosuggest-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid transparent;
    box-sizing: border-box;
    outline: none;
}

.autosuggest-suggestions-container {
    position: absolute;
    z-index: 1000;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background: white;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
}

.autosuggest-suggestion {
    padding: 10px;
    cursor: pointer;
    list-style-type: none !important;  /* remover a numeração */
}

/* necessário usar também no App.css */
.autosuggest-suggestion ul,
.autosuggest-suggestion li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.autosuggest-suggestion--highlighted {
    background-color: #ddd;
}
