.registrar-txt {
    text-align: center;
    padding-top: 30px;
}

.form-register {
    margin-inline: 200px;
    padding-inline: 100px;
}

.registrar-ft {
    text-align: center;
}

.entrar-txt {
    color: #0dcaf0;
}